<div class="max-w-2xl mx-auto">
  <mat-card class="p-6 shadow-lg">
    <mat-card-title class="text-2xl font-bold mb-2">
      Create Project
    </mat-card-title>

    <mat-card-subtitle class="mb-6 text-gray-500">
      Fill in the details to create a new project
    </mat-card-subtitle>

    <form (ngSubmit)="submit()" class="space-y-6">
      <!-- Project Name -->
      <mat-form-field class="w-full">
        <mat-label>Project Name</mat-label>
        <input
          matInput
          name="name"
          [(ngModel)]="name"
          required
        />
      </mat-form-field>

      <!-- Description -->
      <mat-form-field  class="w-full">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          rows="4"
          name="description"
          [(ngModel)]="description"
        ></textarea>
      </mat-form-field>

      <!-- Actions -->
      <div class="flex justify-end gap-3">
        <button
          mat-button
          type="button"
          routerLink="/projects"
        >
          Cancel
        </button>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isSubmitting"
          class="!px-6"
        >
          <mat-spinner
            *ngIf="isSubmitting"
            diameter="20"
            class="mr-2"
          ></mat-spinner>
          Create
        </button>
      </div>
    </form>
  </mat-card>
</div>